@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


body {
  margin: 0;
  /* font-family: "Montserrat", sans-serif !important; */
  
}

body,html{
  overflow-x: hidden;
}


.primary{
  background-color: #FFEBEE;
  padding:5px 20px;
  color:black;
  border: none;
  border-radius: 20px;

}

/* body {
  font-family: "Lato", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif !important;
} */


/* body {
  font-family: "Source Code Pro", monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Code Pro", monospace !important;
} */

body {
  font-family: "Inconsolata", monospace !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inconsolata", monospace !important;
}








